---
layout: default
title: Kalariyogi
---

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
    {% for image in site.data.mainPageCarosel.carousel %}
        <div class="carousel-item">
            <img class="d-block w-100" src="{{image.src | prepend: site.imageurl | prepend: site.baseurl}}">
            <div class="carousel-caption d-none d-md-block">
                <h5>{{image.heading}}</h5>
                <p>{{image.description}}</p>
            </div>
        </div>
    {% endfor %}
    </div>
</div>


<div class="d-flex flex-column h-100">
    <main role="main" class="flex-shrink-0 pb-3 mb-4 main">
        <div class="container mt-4">
            <h1>Workshops</h1>
            <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2">
                {% for workshop in site.workshops %}
                <div class="col mb-4">
                    <div class="card workshop-card">
                        <img src="{{workshop.image | prepend: site.imageurl | prepend: site.baseurl}}.png"
                            class="card-img-top" alt="{{workshop.image}}">
                        <div class="card-body">
                            <h4 class="card-title">{{ workshop.name }}</h4>
                            <h5>{{ workshop.workshopDate | date: "%A, %B %-d, %Y" }}</h5>
                            <p class="card-text">{{ workshop.excerpt | markdownify }}</p>
                        </div>
                        <div class="card-footer workshop-card-footer">
                            <a href="{{ workshop.url }}" class="btn-sm btn-link pull-right workshop-card-btn"
                                role="button">Know More</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
</div>