---
layout: default
title: Kalariyogi
---

<div class="row image-bg-color no-gutters">
    <div class="col-md-12">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                {% for image in site.data.mainPageCarosel.carousel %}
                <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                        <img class="d-block s-carosel-img"
                            src="{{image.src | prepend : 'homepage/' | prepend: site.imageurl | prepend: site.baseurl}}" alt="{{image.alt}}">
                        <div class="carousel-caption d-none d-md-block">
                            <h1>{{image.heading}}</h1>
                            <p>{{image.description}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="container pb-5 ">
    <div class="row">
        <div class="col-12 pt-4">
            {{site.data.home.about | markdownify}}
        </div>
    </div>
</div>

{% if site.offerings.size > 0 %}
<div class="container pb-5 mb-5">
    <div class="d-flex justify-content-center">
        <h1 class="h2">Offerings</h1>
    </div>
    {% for offering in site.offerings %}
    <p>{{ offering.excerpt | markdownify }}</p>
    {% endfor %}
</div>
{% endif %}



{% if site.workshops.size > 0 %}
<div class="d-flex flex-column h-100">
    <main role="main" class="flex-shrink-0 pb-3 mb-4 main">
        <div class="container mt-4">
            <h1>Workshops</h1>
            <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2">
                {% for workshop in site.workshops %}
                <div class="col mb-4">
                    <div class="card workshop-card">
                        <img src="{{workshop.image | prepend: 'workshops/' | prepend: site.imageurl | prepend: site.baseurl}}"
                            class="card-img-top" alt="{{workshop.image}}">
                        <div class="card-body">
                            <h4 class="card-title">{{ workshop.name }}</h4>
                            <h5>{{ workshop.workshopDate | date: "%A, %B %-d, %Y" }}</h5>
                            <p class="card-text">{{ workshop.excerpt | markdownify }}</p>
                        </div>
                        <div class="card-footer workshop-card-footer">
                            <a href="{{ workshop.url }}" class="btn-sm btn-link pull-right workshop-card-btn"
                                role="button">Know More</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
</div>
{% endif %}