<header>
    <nav class="navbar s-navbar navbar-expand-md navbar-light main-nav">
        <a id="nav-logo" class="navbar-brand header-font" href="/">{{site.name}}</a>
        <button class="navbar-toggler navbar-links" type="button" data-toggle="collapse"
            data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-links" id="collapsibleNavbar">
            <ul class="navbar-nav">
                {% for navItem in site.data.navigation.navItems %}
                    {% if navItem.type == 'link' %}
                        {% if page.url contains navItem.href %}
                            <li class="nav-item active">
                        {% else %}
                            <li class="nav-item">
                        {% endif %}
                        <a class="s-nav-text nav-link" href="{{ navItem.href | prepend: site.baseurl}}">{{ navItem.name }}</a>                
                    {% endif %}
                    {% if navItem.type == 'dropdown' %}
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ navItem.name }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">                               
                        {% for navlink in navItem.navlinks %}                            
                            <a class="dropdown-item" href="{{navlink.href | prepend: navItem.href}}">{{navlink.name}}</a>
                        {% endfor %}     
                        </div>               
                    {% endif %}
                        </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</header>